<!-- Saldo Disponível -->
<p-card class="col-span-12 lg:col-span-6 xl:col-span-3 border rounded-xl border-transparent drop-shadow-lg">
    <div class="mb-2">
        <div class="flex items-center mb-3">
            <i class="pi pi-wallet w-5 h-5 text-green-600 mr-2"></i>
            <span class="block text-zinc-400 font-medium">Saldo Disponível</span>
        </div>
        <div class="text-surface-900 dark:text-surface-0 font-semibold text-3xl">
            {{ 4332.36 | currency: 'BRL':'symbol-narrow':'4.2-2' }}
        </div>
    </div>
</p-card>

<!-- Valor Entrada -->
<p-card class="col-span-12 lg:col-span-6 xl:col-span-3 border rounded-xl border-transparent drop-shadow-lg">
    <div class="mb-2">
        <div class="flex items-center mb-3">
            <i class="pi pi-arrow-down w-5 h-5 text-green-600 mr-2"></i>
            <span class="block text-zinc-400 font-medium">Valor Entrada</span>
        </div>
        <div class="text-green-600 dark:ext-surface-0 font-semibold text-3xl">
            {{ 1325.69 | currency: 'BRL':'symbol-narrow':'4.2-2' }}
        </div>
    </div>
</p-card>

<!-- Total Gasto -->
<p-card class="col-span-12 lg:col-span-6 xl:col-span-3 border rounded-xl border-transparent drop-shadow-lg">
    <div class="mb-2">
        <div class="flex items-center mb-3">
            <i class="pi pi-arrow-up w-5 h-5 text-red-600 mr-2"></i>
            <span class="block text-zinc-400 font-medium">Total Gasto</span>
        </div>
        <div class="text-red-600 dark:text-red-500 font-semibold text-3xl">
            {{ 2427.06 | currency: 'BRL':'symbol-narrow':'4.2-2' }}
        </div>
    </div>
</p-card>

<!-- Saldo Investimentos -->
<p-card class="col-span-12 lg:col-span-6 xl:col-span-3 border rounded-xl border-transparent drop-shadow-lg">
    <div class="mb-2">
        <div class="flex items-center mb-3">
            <i class="pi pi-chart-line w-5 h-5 text-blue-600 mr-2"></i>
            <span class="block text-zinc-400 font-medium">Saldo Investimentos</span>
        </div>
        <div class="text-blue-600 dark:text-blue-400 font-semibold text-3xl">
            {{ 3703.86 | currency: 'BRL' }} <span class="colorPercentageInvest text-sm text-green-600 bg-green-400/15 px-2 py-0.5 rounded-xl mt-4 mr-4">+3.5%</span>
        </div>
    </div>
</p-card>