<div class="col-span-12 lg:col-span-6 xl:col-span-3 border rounded-md border-cyan-500 drop-shadow-lg drop-shadow-cyan-500/25">
    <div class="card mb-0">
        <div class="flex justify-between mb-4">
            <div>
                <span class="block text-muted-color font-medium mb-4">Saldo Disponível</span>
                <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">{{ 10000 | currency: 'BRL' }}</div>
            </div>
        </div>
    </div>
</div>
<div class="col-span-4 lg:col-span-6 xl:col-span-3 border rounded-md border-cyan-500 drop-shadow-lg drop-shadow-cyan-500/25">
    <div class="card mb-0">
        <div class="flex justify-between mb-4">
            <div>
                <span class="block text-muted-color font-medium mb-4">Total Gasto</span>
                <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">{{ 2000 | currency: 'BRL': 'symbol':'1.2-2' }}</div>
            </div>
        </div>
    </div>
</div>
<div class="col-span-4 lg:col-span-6 xl:col-span-3 border rounded-md border-cyan-500 drop-shadow-lg drop-shadow-cyan-500/25">
    <div class="card mb-0">
        <div class="flex justify-between mb-4">
            <div>
                <span class="block text-muted-color font-medium mb-4">Saldo Investimentos</span>
                <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">{{ 1500 | currency: 'BRL' }}</div>
            </div>
        </div>
    </div>
</div>